@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 214, 219, 220;
}

::-webkit-scrollbar {
    display: none;
  }

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255; /* White text for contrast */
        --background-rgb: 17, 16, 16; /* Dark gray background start */
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}
